
@media (min-width: 320px){
	header.masthead h1 {
	    font-size: 2rem;
	   /* line-height: 1.8;  */

	}
	.bg-light {
	    width: 100%;
	}
	/* ul.index{
		text-align: center;
	} */


}



@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem !important;
  }

  .showcase-img{
  	    height: 25rem;
  }

  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  
.prototype {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 15px solid #F2F2F2;
    border-radius: 25px;
    box-shadow: 2px 2px 15px #999;
}
	



}



@media (min-width: 920px){
	header.masthead h1 {
	    font-size: 2rem;
	    line-height: 1.8;

	}


	.bg-light {
	        width: fit-content;
	}

	  .showcase .showcase-text {
    padding: 7rem;

  }
}


