
@media (min-width: 320px){
	header.masthead h1 {
	    font-size: 2rem;
	   /* line-height: 1.8;  */

	}
	.bg-light {
	    width: 100%;
	}
	/* ul.index{
		text-align: center;
	} */
.prototype {

    width: 80%;

}
.team {
    display: none;
    }
  
    .title {
      padding: 0;
      margin: 2rem 0rem;
      font-size: 2rem;
  }
  
  .ms30px {
    margin-left: 0px;
    margin-right: 30px;
}
section {
  padding-bottom: 3em;
  margin-bottom: 5rem;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.img1{
  background-color: coral;
}
.cebproto {
  width: 80%;
  margin: 30px;
}

}



@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem !important;
  }

  .showcase-img{
  	    height: 25rem;
  }

  header.masthead {
    padding-top: 12rem;
    padding-bottom: 8rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  
.prototype {

    width: 30%;
 
}
img {



}



@media (min-width: 920px){


	header.masthead h1 {
	    font-size: 2rem;
	    line-height: 1.8;

	}

.team {
    display: inline;
    }

	.bg-light {
	        width: fit-content;
	}

	  .showcase .showcase-text {
    padding: 7rem;

  }
  .prototype {
    width: 20%;
}
img {
}


