body{
    color:#A6A6A6  ;
}
h1{
    color: #000;
}

.index{
    color: #666;
}

.img1{
       position: relative;
    background-image: url('../img/bg-showcase-2.jpg');
     background-size: cover;
 
}
.img2{
       position: relative;
    background-image: url('../img/bg-showcase-1.jpg');
     background-size: cover;
 
}
.img3{
       position: relative;
    background-image: url('../img/bg-showcase-3.jpg');
     background-size: cover;
 
}

.select{
        opacity: 50%;
}

blockquote{
    text-transform: uppercase;
    letter-spacing: 0.12em;
}


header.masthead {
    position: relative;
    background-color: #fff;
   /* background: url("#") no-repeat center center;   */
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.text-white {
    color: #000!important;
}

header.masthead .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

.bg-light {
    position: fixed;
        z-index: 1;
}
.navbar-light .navbar-brand{
		color: #000;
}

b {
	font-weight: 900;
}

.navbtn{
	font-weight: 500;
	color: #838B8B!important;
}



.showcase-text{
	background: #f8f8f8;
    padding: 7rem 1rem !important;
}
.no-gutters {
    background: #f8f8f8;
    color:#182229;
}

.navbar-brand:hover {
    font-weight: 700;
    text-shadow: 5px 5px 30px rgba(11, 14, 212, 1);
}



.space{
    margin-top: 130px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}


.title{
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 2rem -1rem;
    font-size: 3.1rem;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.9);
}

section{
    padding-bottom: 3em;
    margin-bottom: 7rem;
}


.fit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.fit-100{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.prototype{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top:2rem;
    margin-bottom:2rem;
}

ul.oneoff li:first-child {
    list-style-type: none;
}

.hover:hover {
    font-weight: 700;
    text-shadow: 5px 5px 30px rgba(11, 14, 212, 1);
}

a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}



.mt50{
    margin-top: 4rem;
}


