body{
        color: rgba(153, 153, 153, 0.85);
    font-style: normal;
    line-height: 1.5;
}

h1,
h2,
h3,
h4{
    color: #000;
}

.index{
    color: #666;
}


.img1{
    position: relative;
 background-image: url('../img/bg-showcase-2.jpg');
  background-size: cover;

}
.img2{
    position: relative;
 background-image: url('../img/bg-showcase-1.jpg');
  background-size: cover;

}
.img3{
    position: relative;
 background-image: url('../img/bg-showcase-3.jpg');
  background-size: cover;

}

.img4{
    position: relative;
 background-image: url('../img/bg-showcase-4.jpg');
  background-size: cover;

}

.select{
        opacity: 50%;
}

blockquote{
    text-transform: uppercase;
    letter-spacing: 0.12em;
}


header.masthead {
    position: relative;
    background-color: #fff;
   /* background: url("#") no-repeat center center;   */
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.text-white {
    color: #000!important;
}

header.masthead .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

.bg-light {
    position: fixed;
        z-index: 1;
}
.navbar-light .navbar-brand{
        color: #000;
}

b {
    font-weight: 900;
}

.navbtn{
    font-weight: 500;
    color: #838B8B!important;
}

.showcase-text{
    background: #f8f8f8;
    padding: 7rem 1rem !important;
}
.no-gutters {
    background: #f8f8f8;
    color:#182229;
}

.space{
    margin-top: 130px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.title{
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 2rem -1rem;
    font-size: 3.1rem;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.9);
}

section{
    padding-bottom: 3em;
    margin-bottom: 7rem;
}

.showcase{
        padding-bottom: 0em;
    margin-bottom: 0rem;
}

/*
section:last-child {
    padding-bottom: 0em;
    margin-bottom: 0rem;
}*/

.fit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.fi{
    display: block;
    width: 60%;
}

.fit-100{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.prototype{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top:2rem;
    margin-bottom:2rem;
      border: 14px solid #000;
    border-radius: 24px;
    box-shadow: 2px 2px 15px #999;
}

.prototypeweb{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 14px solid #000;
    border-radius: 25px;
    box-shadow: 2px 2px 15px #999;
}


ul.oneoff li:first-child {
    list-style-type: none;
}


.mt50{
    margin-top: 4rem;
}


.team{
    width:70%;
    border-radius: 10px;
}
.timeline{
    padding-left: 20px;
}
.ms30px{
    margin-left: 30px;
    margin-right: 30px;
}

.mb30{
    margin-bottom: 30px;
}
.quote{
    font-style: italic;
}

.gray{
    background-color: #F6F8F9;
}
.chark{
    background-color: #fff;
    border:3px solid #F6F8F9;
}
.energynav{
   padding: 4rem;
   
}

ul.ennav {
    list-style-type: none;
}

.mb4b{
    margin-bottom: 6rem;
}

.about_part .about_text .experiance {
    display: flex;
    align-items: flex-end;
    margin-top: 55px;
}
.text-white{
    color:#fff !important;
}
.proto{
    width: 20%;
}
.pro{
    width: 100%;
}
.defind{
    font-size: 0.8rem;
    padding-left:10px;
    padding-right: 10px;
    opacity:80%;
}
.space70 {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.value{
    text-rendering: optimizeLegibility;
    font-style: italic;
    letter-spacing: 0.5rem;

}

.cebproto{
    width: 40%;
    margin:30px;
}

.boxshadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.testing{
        margin-bottom: 4rem;
    padding-bottom: 5rem;
    position: absolute;
}