
.parkme{
    background-color: #233053;
}

.img1{
       position: relative;
    background-image: url('../img/bg-showcase-2.jpg');
     background-size: cover;
 
}
.img2{
       position: relative;
    background-image: url('../img/bg-showcase-1.jpg');
     background-size: cover;
 
}
.img3{
       position: relative;
    background-image: url('../img/bg-showcase-3.jpg');
     background-size: cover;
 
}

.select{
        opacity: 50%;
}

header.masthead {
    position: relative;
    background-color: #fff;
   /* background: url("#") no-repeat center center;   */
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.text-white {
    color: #000!important;
}

header.masthead .overlay {
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

.bg-light {
    position: fixed;
        z-index: 1;
}
.navbar-light .navbar-brand{
		color: #000;
}

b {
	font-weight: 900;
}

.navbtn{
	font-weight: 500;
	color: #838B8B!important;
}



.showcase-text{
	background: #f8f8f8;
    padding: 7rem 1rem !important;
}
.no-gutters {
    background: #f8f8f8;
    color:#182229;
}


.well{
    margin-top: 2.5rem;
}

.mt-20{
    margin-top: 3rem;
}

/*p{
    color:#999;
}

.tit{
   
}
*/


